body {
    background-color: black;
}
#gameCanvas {
    width: 800px;
    height: 600px;
    border: 1px solid blue;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.popup {
    width: 100px;
    height: 100px;
    position: fixed;
    top: 100px;
    left: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn {
    margin-left: 45%;
    
}
button{
    width: fit-content;
    align-items: center;

}