body {
    background: black;
}
#container {
    position: absolute;
    width: 800px;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}
#canvas1 {
    position: relative;
    background: black;
    border: 5px solid white;
    width: 800px;
    height: 720px
}
#slider {
    width: 100%
}
p {
    color: white;
}

#playerImage, #backgroundImage, #enemyImage {
    display: none;
}
